html {
  min-width: 320px;
  background: var(--color-semantic-surface-primary);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
